<template>
  <div class="pb-[5%] bg-neutral-200">
    <div>
      <span
        @click="reloadPlace()"
        class="w-full h-20 flex justify-center items-center bg-red-400 text-white"
        >Сбросить все поездки</span
      >
    </div>
    <div class="grid grid-cols-2 gap-4 w-full container mx-auto py-20">
      <div v-for="(item, i) in data" :key="i">
        <div class="p-2 bg-white">
          <div class="flex justify-between mb-4">
            <span>{{ item.name }} </span>
            <span>id: {{ item.id }}</span>
            <button @click="reloadOneMarsh(item.id)" class="bord px-4 py-2">
              Сбросить маршрут
            </button>
            <span class="bord p-4">
              {{ item.acf['100'] }} -
              {{ item.acf['101'] }}
            </span>
          </div>
          <div class="grid grid-cols-6 gap-2">
            <div v-for="(place, i) in item.acf" :key="i" class="flex cc gap-2">
              <span v-if="place == 'true' || place == 'false'">{{ i }}</span>

              <input
                v-if="place == 'true'"
                type="checkbox"
                class="w-6 h-6 bg-gray-50 rounded border border-gray-300 cursor-pointer"
                v-model="placeItems"
                :id="`placeItems-${item.id}-${i}`"
                :value="`${item.id}-${i}`"
              />
              <span v-else-if="place == 'false'" class="text-[red]">бронь</span>
            </div>
          </div>
          <button @click="zakaz(i)" class="bg-neutral-200 p-2 rounded mt-4">
            Забронировать
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  // layout: 'Transfer',
  data () {
    return {
      tourTo: '',
      tourUp: '',
      tourPeople: '',
      data: [],
      placeItems: [],
      idProduct: [],
      placeProduct: [],
      placeCheck: [],
      posts: []
    }
  },

  mounted () {
    axios
      .get('https://sharikoff-stav.store/wp-json/wc/v3/products', {
        auth: {
          username: 'ck_a1e76b0c4740131ec2a95e3710e1d143bc39758d',
          password: 'cs_37bfd52d190b6389298d594b76c101c48a4f252e'
        },
        params: {
          category: 227,
          per_page: 100
        }
      })
      .then(response => {
        this.data = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
  },
  methods: {
    zakaz (i) {
      let numbersArr = this.placeItems

      numbersArr.forEach(value => {
        let placeArr = numbersArr.toString().substring(0, 3)
        let valueArr = value
        let reverseArr = valueArr.toString().substring(4, 7)
        // console.log(' место: ' + reverseArr + ' поездка: ' + placeArr)
        axios
          .put(
            'https://sharikoff-stav.store/wp-json/acf/v3/product/' +
              placeArr +
              '?' +
              'fields[' +
              reverseArr +
              ']=false',
            {
              auth: {
                username: 'ck_a1e76b0c4740131ec2a95e3710e1d143bc39758d',
                password: 'cs_37bfd52d190b6389298d594b76c101c48a4f252e'
              }
            }
          )
          .then(response => {
            console.log(response)
          })
          .catch(e => {
            this.errors.push(e)
          })
        this.idProduct = placeArr
      })

      this.forPlaceItems()
    },
    reloadOneMarsh (marsh) {
      const PATH =
        '?fields[1]=true&fields[2]=true&fields[3]=true&fields[4]=true&fields[5]=true&fields[6]=true&fields[7]=true&fields[8]=true&fields[9]=true&fields[10]=true&fields[11]=true&fields[12]=true&fields[13]=true&fields[14]=true&fields[15]=true&fields[16]=true&fields[17]=true&fields[18]=true&fields[19]=true&fields[20]=true&fields[21]=true'
      const URL = 'https://sharikoff-stav.store/wp-json/acf/v3/product/'

      axios
        .put(`${URL}${marsh}${PATH}`, {
          auth: {
            username: 'ck_a1e76b0c4740131ec2a95e3710e1d143bc39758d',
            password: 'cs_37bfd52d190b6389298d594b76c101c48a4f252e'
          }
        })
        .then(response => {
          console.log(' ID: ' + marsh + ' status: ' + response.status)
        })
        .catch(e => {
          this.errors.push(e)
        })
    },
    reloadPlace () {
      let allReloadProduct = this.data
      const PATH_URL =
        '?fields[1]=true&fields[2]=true&fields[3]=true&fields[4]=true&fields[5]=true&fields[6]=true&fields[7]=true&fields[8]=true&fields[9]=true&fields[10]=true&fields[11]=true&fields[12]=true&fields[13]=true&fields[14]=true&fields[15]=true&fields[16]=true&fields[17]=true&fields[18]=true&fields[19]=true&fields[20]=true&fields[21]=true'
      for (let item of allReloadProduct) {
        axios
          .put(
            `https://sharikoff-stav.store/wp-json/acf/v3/product/` +
              item.id +
              PATH_URL,

            {
              auth: {
                username: 'ck_a1e76b0c4740131ec2a95e3710e1d143bc39758d',
                password: 'cs_37bfd52d190b6389298d594b76c101c48a4f252e'
              }
            }
          )
          .then(response => {
            console.log(item.id + '/' + response.status)
          })
          .catch(e => {
            this.errors.push(e)
          })
      }
    },
    forPlaceItems () {
      let allProductsData = this.data
      let allCheckedPlace = this.placeItems

      const newPlace = allCheckedPlace.map(function (place) {
        const numPlace = place.toString().substring(4, 7)
        return numPlace
      })
      console.log('место: ' + newPlace)

      this.placeItems.forEach(function (item) {
        let productID = item.toString().substring(0, 3)
        let productPlace = item.toString().substring(4, 7)

        //---------------------------------------------   все поездки в категории

        for (let oneProduct of allProductsData) {
          if (oneProduct.id == productID) {
            let idTo = Number(oneProduct.acf['100'])
            let idBack = Number(oneProduct.acf['101'])

            for (let globalProduct of allProductsData) {
              let startProduct = Number(globalProduct.acf['100'])
              let finishProduct = Number(globalProduct.acf['101'])
              if (idTo >= startProduct && idBack <= finishProduct) {
                console.log(
                  'VAR-1--бронь-- ' + startProduct + ' //// ' + finishProduct
                )
                newPlace.forEach(val => {
                  axios
                    .put(
                      'https://sharikoff-stav.store/wp-json/acf/v3/product/' +
                        globalProduct.id +
                        '?' +
                        'fields[' +
                        val +
                        ']=false',
                      {
                        auth: {
                          username:
                            'ck_a1e76b0c4740131ec2a95e3710e1d143bc39758d',
                          password:
                            'cs_37bfd52d190b6389298d594b76c101c48a4f252e'
                        }
                      }
                    )
                    .then(response => {
                      console.log(response)
                    })
                    .catch(e => {
                      this.errors.push(e)
                    })
                })
              } else if (idTo < startProduct && idBack > finishProduct) {
                console.log(
                  'VAR-2--бронь-- ' + startProduct + ' //// ' + finishProduct
                )
                newPlace.forEach(val => {
                  axios
                    .put(
                      'https://sharikoff-stav.store/wp-json/acf/v3/product/' +
                        globalProduct.id +
                        '?' +
                        'fields[' +
                        val +
                        ']=false',
                      {
                        auth: {
                          username:
                            'ck_a1e76b0c4740131ec2a95e3710e1d143bc39758d',
                          password:
                            'cs_37bfd52d190b6389298d594b76c101c48a4f252e'
                        }
                      }
                    )
                    .then(response => {
                      console.log(response)
                    })
                    .catch(e => {
                      this.errors.push(e)
                    })
                })
              } else if (
                idTo >= startProduct &&
                idTo < finishProduct &&
                idBack > finishProduct
              ) {
                console.log(
                  'VAR-3--бронь-- ' + startProduct + ' //// ' + finishProduct
                )
                newPlace.forEach(val => {
                  axios
                    .put(
                      'https://sharikoff-stav.store/wp-json/acf/v3/product/' +
                        globalProduct.id +
                        '?' +
                        'fields[' +
                        val +
                        ']=false',
                      {
                        auth: {
                          username:
                            'ck_a1e76b0c4740131ec2a95e3710e1d143bc39758d',
                          password:
                            'cs_37bfd52d190b6389298d594b76c101c48a4f252e'
                        }
                      }
                    )
                    .then(response => {
                      console.log(response)
                    })
                    .catch(e => {
                      this.errors.push(e)
                    })
                })
              } else if (startProduct >= idTo && finishProduct <= idBack) {
                console.log(
                  'VAR-4--бронь-- ' + startProduct + ' //// ' + finishProduct
                )
                newPlace.forEach(val => {
                  axios
                    .put(
                      'https://sharikoff-stav.store/wp-json/acf/v3/product/' +
                        globalProduct.id +
                        '?' +
                        'fields[' +
                        val +
                        ']=false',
                      {
                        auth: {
                          username:
                            'ck_a1e76b0c4740131ec2a95e3710e1d143bc39758d',
                          password:
                            'cs_37bfd52d190b6389298d594b76c101c48a4f252e'
                        }
                      }
                    )
                    .then(response => {
                      console.log(response)
                    })
                    .catch(e => {
                      this.errors.push(e)
                    })
                })
              } else if (startProduct < idBack && finishProduct >= idBack ) {
                console.log(
                  'VAR-5--бронь-- ' + startProduct + ' //// ' + finishProduct
                )
                newPlace.forEach(val => {
                  axios
                    .put(
                      'https://sharikoff-stav.store/wp-json/acf/v3/product/' +
                        globalProduct.id +
                        '?' +
                        'fields[' +
                        val +
                        ']=false',
                      {
                        auth: {
                          username:
                            'ck_a1e76b0c4740131ec2a95e3710e1d143bc39758d',
                          password:
                            'cs_37bfd52d190b6389298d594b76c101c48a4f252e'
                        }
                      }
                    )
                    .then(response => {
                      console.log(response)
                    })
                    .catch(e => {
                      this.errors.push(e)
                    })
                })
              } else if (startProduct >= idBack && finishProduct >= idBack) {
                console.log(
                  'VAR-6--пропуск--- ' + startProduct + ' //// ' + finishProduct
                )
              } else {
                console.log(
                  'VAR-7--пропуск--- ' + startProduct + ' //// ' + finishProduct
                )
              }
            }
          }
        }
      })
    }
  }
}
</script>

<style></style>
