<template>
  <div class="container mx-auto mt-10">

    {{JSON.stringify(data).toString()}}
    <button @click="update">Обновить</button>
  </div>
</template>

<script>
import qs from 'qs'

export default {
  data () {
    return {
      res: null
    }
  },
  methods: {
    async update () {
      const query = qs.stringify(
      {

        // fields: ['position'],
        populate: ['asd', 'asd.marshrut_otrezok', 'asd.marshrut_otrezok.sity_to', 'asd.marshrut_otrezok.sity_end']
      },
      {
        encodeValuesOnly: true // prettify URL
      }
    )
    // console.log(query);
    const data = await this.$axios.$get(
      `http://localhost:1337/api/poezdkas/6?${query}`
    )
      this.res = data
    }
  },
  async asyncData ({ $axios }) {
    const query = qs.stringify(
      {

        // fields: ['position'],
        populate: ['asd', 'asd.marshrut_otrezok', 'asd.marshrut_otrezok.sity_to', 'asd.marshrut_otrezok.sity_end']
      },
      {
        encodeValuesOnly: true // prettify URL
      }
    )
    // console.log(query);
    const data = await $axios.$get(
      `http://localhost:1337/api/poezdkas/6?${query}`
    )
    return { data }
  }
}
</script>

<style></style>
