<template>
  <div class="">
    <span
      @click="areOptionsVisible = !areOptionsVisible"
      class="cursor-pointer "
      >{{ selected }}</span
    >
    <div
      class="flex flex-col absolute z-[99] top-[90px] left-0  w-full bg-white rounded-b-xl box-1 "
      v-if="areOptionsVisible"
    >
      <span
        class="cursor-pointer border-t px-4 py-2"
        v-for="(option, index) in gorodEnd.data"
        @click="selectOption(option)"
        :key="index"
      >
        {{ option.attributes.sity_end.data.attributes.Name }}
      </span>
    </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      areOptionsVisible: false,
      selected: 'Выбрать куда:'
    }
  },
  props: {
    gorodEnd: {
      type: Object,
    },
    gorodEndPosition: {
      type: Number,
      default: 1
    }
  },
  computed: {
    
  },
  methods: {
    selectOption (option) {
      this.selected = option.attributes.sity_end.data.attributes.Name
      this.areOptionsVisible = false
      this.$emit('gorodUp', option)
    }

  },

}
</script>

<style></style>
