<template>
  <div class="">
    <client-only>
      <VueDatePicker
        v-model="date"
        :allowed-dates="allowedDates"
        :locale="locale"
        no-calendar-icon
    /></client-only>
  </div>
</template>

<script>
import { VueDatePicker } from '@mathieustan/vue-datepicker'
import '@mathieustan/vue-datepicker/dist/vue-datepicker.min.css'

export default {
  props: ['dates'],
  data () {
    return {
      date: new Date(),
      locale: { lang: 'ru' }
    }
  },
  components: {
    VueDatePicker
  },
  methods: {
    // date is a string
    allowedDates (date) {
      const arr = this.dates.map(x => x.attributes.Data)
      if (arr.includes(date)) {
        return true
      }
    },
    selectOption () {
      this.$emit('checkData', this.date)
    }
  },
  watch: {
    date () {
      this.selectOption()
    }
  }
}
</script>

<style></style>
