<template>
  <!-- ближайшая поездка 20 числа если нет поездки -->
  <div class="mt-96 bg-[#FBFBFB] relative">
    <div
      class="w-full container mx-auto h-[100px] flex justify-between items-center rounded-2xl bg-white box-1 z-[99]"
    >
      <div
        class="flex gap-4 w-full justify-center relative border-r h-full items-center"
      >
        <img class="w-6 h-6" src="../../assets/icons/map.png" alt="" />
        <PodborSelectV1 :gorodTo="sities" @gorodTo="handleGorodTo" />
      </div>
      <div
        class="flex gap-4 w-full justify-center relative border-r h-full items-center"
      >
        <img class="w-6 h-6" src="../../assets/icons/map.png" alt="" />

        <PodborSelectV2
          v-if="tourUp !== null"
          :gorodEndPosition="1"
          :gorodEnd="tourUp"
          @gorodUp="handleGorodUp"
        />
        <PodborSelectV2 v-else class="opacity-50 cursor-not-allowed" />
      </div>
      <div
        class="flex gap-4 w-full justify-center relative border-r h-full items-center"
      >
        <img class="w-6 h-6" src="../../assets/icons/data.png" alt="" />
        <PodborSelectV4 :dates="poezdkas.data" @checkData="checkData" />
      </div>
    </div>
    <div>
      <section
        class="w-full container mx-auto my-20"
        v-if="theTourInSearch !== null"
      >
        <div class="">
          <div
            class="w-full flex  bg-white rounded-2xl box-1 p-4  justify-between"
          >
            <div class="flex flex-col gap-2 justify-center">
              <span class="font-bold text-[24px]">
                {{ theTourInSearch.data[0].attributes.Name }}
              </span>
              <div class="flex gap-4">
                <div class="flex flex-col gap-1">
                  <span class="font-bold">
                    {{ theTourInSearch.data[0].attributes.TimeArrivalStart }}
                  </span>
                  <span class="text-[14px] text-neutral-600"
                    >Время отправления</span
                  >
                </div>
                <div class="flex flex-col gap-1">
                  <span class="font-bold">
                    {{ theTourInSearch.data[0].attributes.TimeArrivalEnd }}
                  </span>
                  <span class="text-[14px] text-neutral-600"
                    >Время прибытия</span
                  >
                </div>
              </div>
              <div class="text-[14px] text-neutral-600">
                Остановка: {{ theTourInSearch.data[0].attributes.DotStart }} -
                {{ theTourInSearch.data[0].attributes.DotEnd }}
              </div>
            </div>
            <div class="flex gap-4">
              <form class="grid grid-cols-8 gap-2">
                <span
                  v-for="(place, index) in filterPlace"
                  :key="index"
                  class="flex flex-col items-center"
                >
                  <span
                    v-if="place[1] == false"
                    class="w-6 h-6 bg-gray-400 rounded border-gray-400"
                  ></span>
                  <span
                    v-else-if="place[0] == '__typename'"
                    class="hidden bg-red-500"
                  ></span>
                  <input
                    v-else
                    type="checkbox"
                    class="w-6 h-6 bg-gray-50 rounded border border-gray-300 cursor-pointer"
                    :id="`placeItems-${index}`"
                    :value="index"
                  />
                  <span :class="[place[0] == '__typename' ? 'hidden' : '']">
                    {{ place[0].replace('place', '') }}
                  </span>
                </span>
              </form>
              <img src="../../assets/img/mersedes.jpg" alt="" />
            </div>
            <div class="flex flex-col items-center justify-center gap-4">
              <button
                class="gradient p-4 rounded h-[60px] text-white"
                @click="modalVisible = true"
              >
                Купить билет
              </button>
              <span>Цена: 100₽</span>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div v-if="modalVisible">
      <div class="modal-backdrop px-4 sm:px-20 w-full h-full">
        <div class="modal rounded-2xl w-full max-w-[400px]">
          <section class="modal-body text-[#212121] rounded-2xl">
            <div class="flex flex-col gap-4 pb-4">
              <span>
                Ваша поездка: {{ tourTo.option }} - {{ tourUp.option }}
              </span>
              <div class="flex gap-4">
                Места:
                <div class="flex gap-2">
                  <span
                    v-for="(formPlace, index) in placeItems"
                    :key="index"
                    class="font-bold"
                  >
                    {{ formPlace.replace('place_acf_', '') }}
                  </span>
                </div>
              </div>
            </div>

            <div
              class="text-[#212121] text-[14px] bg-scroll overflow-y-auto h-[400px]"
            >
              <form class="flex flex-col gap-4">
                <input
                  type="text"
                  placeholder="Имя"
                  v-model="nameСlient"
                  class="p-4 border"
                />
                <input
                  type="text"
                  placeholder="Телефон"
                  v-model="telNumber"
                  class="p-4 border"
                />
              </form>
            </div>
            <div class=" flex flex-col">
              <div class="flex justify-center pb-2 pt-4 border-red-400"></div>
            </div>
            <span v-if="formSend">
              Спасибо ! Мы свяжемся с Вами в течении 10 минут.
            </span>
            <span></span>
          </section>

          <footer class="modal-footer text-[#212121] flex justify-center gap-2">
            <button
              type="button"
              class="gradient w-1/2 max-w-[280px] px-4 py-2 text-white rounded"
              @click="deleteAttrs"
            >
              Заказать
            </button>
            <button
              type="button"
              class="bg-neutral-400 w-1/2 max-w-[280px] px-4 py-2 text-white rounded"
              @click="modalVisible = false"
            >
              Закрыть
            </button>
          </footer>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

import PodborSelectV1 from '../../components/UX/Select/PodborSelect-v1.vue'
import PodborSelectV2 from '../../components/UX/Select/PodborSelect-v2.vue'
import PodborSelectV3 from '../../components/UX/Select/PodborSelect-v3.vue'
import PodborSelectV4 from '../../components/UX/Select/PodborSelect-v4.vue'
import gql from 'graphql-tag'

const PLAINS = gql`
  query PLAINS {
    plains(pagination: { start: 0, limit: 100 }) {
      data {
        attributes {
          Name
          UID
          Price
          PriceSale
          sity_to {
            data {
              attributes {
                Name
                Position
              }
            }
          }
          sity_end {
            data {
              attributes {
                Name
                Position
              }
            }
          }
        }
      }
    }
  }
`

const SITIES = gql`
  query SITIES {
    sities {
      data {
        attributes {
          Name
          UID
          Position
        }
      }
    }
  }
`

// query {
//   plain(id: 1584) {
//     data {
//       attributes {
//         Name
//         DataPlainsAdd {
//           ... on ComponentPlacePlace {
//             DataPlains
//             place1
//             place2
//             place3
//             place4
//           }
//         }
//       }
//     }
//   }
// }

const POEZDKAS = gql`
  query poezdkas {
    poezdkas {
      data {
        attributes {
          Data
          plains(pagination: { start: 0, limit: 100 }) {
            data {
              attributes {
                Name
                UID
                Price
                PriceSale
                sity_to {
                  data {
                    attributes {
                      Name
                      Position
                    }
                  }
                }
                sity_end {
                  data {
                    attributes {
                      Name
                      Position
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
`


export default {
  layout: 'Transfer',
  apollo: {
    plains: {
      query: PLAINS
    },
    sities: {
      query: SITIES
    },
    poezdkas: {
      query: POEZDKAS
    }
  },
  data () {
    return {
      tourTo: null,
      tourUp: null,
      tourPeople: '',
      people: 2,
      placeItems: [],
      errors: '',
      acf: null,
      busyActive: '',
      busy: '',
      modalVisible: false,
      nameСlient: '',
      telNumber: '',
      formSend: false,
      formError: 'Что то пошло не так пробуйте еще раз',
      arrGorodEnd: [],
      theTourInSearch: null,
      theTourUID: null
    }
  },
  components: {
    PodborSelectV1,
    PodborSelectV2,
    PodborSelectV3,
    PodborSelectV4
  },
  computed: {
    filterPlace () {
      let arr = this.theTourInSearch.data[0].attributes.Places

      let result = Object.entries(arr)

      return result
    }
  },
  methods: {
    checkData (data) {
      console.log(data)
      this.searchTourInApi(data)
    },
    handleGorodUp (x) {
      this.theTourUID = x.attributes.UID
    },
    async searchTourInApi (data) {
      const result = await this.$apollo.query({
        query: gql`
          query THETOUR($UID: String!) {
            plains(filters: { UID: { eq: $UID } }) {
              data {
                attributes {
                  Name
                  UID
                  Price
                  PriceSale
                  DotStart
                  DotEnd
                  TimeArrivalStart
                  TimeArrivalEnd
                  sity_to {
                    data {
                      attributes {
                        Name
                      }
                    }
                  }
                  sity_end {
                    data {
                      attributes {
                        Name
                      }
                    }
                  }
                  Places {
                    place1
                    place2
                    place3
                    place4
                    place5
                    place6
                    place7
                    place8
                    place9
                    place10
                    place11
                    place12
                    place13
                    place14
                    place15
                    place16
                    place17
                    place18
                    place18
                    place19
                    place21
                  }
                }
              }
            }
          }
        `,

        variables: {
          UID: this.theTourUID
        }
      })
      this.theTourInSearch = result.data.plains
    },
    handleGorodTo (value) {
      this.tourTo = value
      this.addTour(value)
    },
    async addTour (value) {
      const result = await this.$apollo.query({
        query: gql`
          query ENDGOROD($position: Int!) {
            plains(filters: { sity_to: { Position: { eq: $position } } }) {
              data {
                attributes {
                  Name
                  UID
                  Price
                  PriceSale
                  sity_to {
                    data {
                      attributes {
                        Name
                        Position
                      }
                    }
                  }
                  sity_end {
                    data {
                      attributes {
                        Name
                        Position
                      }
                    }
                  }
                }
              }
            }
          }
        `,

        variables: {
          position: value.attributes.Position
        }
      })
      this.tourUp = result.data.plains
    },

    closeModal () {
      this.modalVisible = false
    },
    getTeelegramm () {
      const fullMessege =
        ' Места:- ' +
        this.placeItems +
        '\n' +
        ' Имя: ' +
        this.nameСlient +
        '\n' +
        ' Телефон: ' +
        this.telNumber +
        '\n' +
        ' Маршрут: ' +
        this.tourTo.option +
        '  ' +
        '-' +
        this.tourUp.option
      axios
        .post(
          'https://api.telegram.org/bot5216566247:AAHuw0mq5cmGD4ILhNueLX77Q3JCCZKYLC0/sendMessage?chat_id=-1001763858540',
          {
            text: fullMessege
          }
        )
        .then(response => (this.fullMessege = response.data.id))
        .catch(e => {
          this.errors.push(e)
        })
    },

    deleteAttrs () {
      let numbersArr = this.placeItems

      // this.modalVisible = true

      numbersArr.forEach((value, index) => {
        axios
          .put(
            'https://sharikoff-stav.store/wp-json/acf/v3/product/39?' +
              'fields[' +
              value +
              ']=false',
            {
              auth: {
                username: 'ck_a1e76b0c4740131ec2a95e3710e1d143bc39758d',
                password: 'cs_37bfd52d190b6389298d594b76c101c48a4f252e'
              }
            }
          )
          .then(response => {
            console.log(response)
          })
          .catch(e => {
            this.errors.push(e)
          })
        console.log(value)
      })
      this.getTeelegramm(), (this.formSend = true)
    }
  }
}
</script>

<style>
.modal-backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
}

.modal {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  border-radius: 8px;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-header {
  position: relative;
  border-bottom: 1px solid #eeeeee;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
}

.modal-body {
  position: relative;
  padding: 20px 20px 0 20px;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
}
</style>
