<template>
  <div class="w-screen h-screen bg-[#343434]/30 fixed top-0 left-0 flex justify-center items-center ">
      <div class="bg-white flex justify-center items-center  w-full max-w-[600px] h-auto px-4 py-8 rounded-md relative">
          <button @click="closeModal" class="absolute top-2 right-2">Закрыть</button>
          <slot></slot>
      </div>
  </div>
</template>

<script>
export default {
    methods: {
        closeModal(){
            this.$emit('close')
        }
    }
}
</script>

<style>

</style>