<template>
  <div>
    <div class="container mx-auto h-full">
      <div>
        <div class="w-full flex my-12 relative">
          <span class="text-[48px] uppercase font-bold"
            >Однодневные экскурсии</span
          >
          <span
            class="absolute  left-[50%] text-[288px] text-[#EFEFEF] uppercase font-bold z-[0] select-none leading-none"
            >travel</span
          >
          <NuxtLink to="/category" class="ml-[50px] z-[4] flex justify-center items-center  px-[50px] py-[15px] uppercase text-gradient border-[#04BFBF] border-[2px] rounded-xl">Смотреть все</NuxtLink>
        </div>
        <div class="w-full h-full  relative block">
          <div class="w-full grid grid-cols-3  gap-4">
            <ProductV1
              v-for="product in products.slice(0,6)"
              :key="product.id"
              :data="product"
              class="block"
            />
           
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container mx-auto h-full  ">
      <div>
        <div class="w-full flex my-12 relative">
          <span class="text-[48px] uppercase font-bold">Сезонные туры</span>
          <span
            class="absolute  left-[30%] text-[288px] text-[#EFEFEF] uppercase font-bold z-[0] select-none leading-none"
            >tourism</span
          >
          <ShowAllButton class="ml-[50px] z-[4]">Смотреть все</ShowAllButton>
        </div>
        <div class="w-full h-full  relative block">
          <div class="w-full h-full  relative block">
            <div class=" flex  gap-12">
              <ProductV1
              v-for="product in products.slice(5,9)"
              :key="product.id"
              :data="product"
              class="block"
            />
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <section class="w-full bord h-[900px]">
      ddd
    </section> -->
  </div>
</template>

<script>

import ShowAllButton from './UI/ShowAllButton.vue'
import ProductV1 from './Product/Product-v1.vue'
import ShowAllButton1 from './UI/ShowAllButton.vue'


export default {
  components: { ShowAllButton, ProductV1, ShowAllButton1 },
  props:{
    products: Array 
  },
  data () {
    return {}
  },
  
  
  
}
</script>

<style></style>