<template>
  <div class="h-full  w-full border-red-700">
    <div class="w-screen h-[600px] relative">
      <img
        class="absolute top-0 left-0 w-full h-full"
        src="../../assets/img/noise.png"
        alt=""
      />
      <img class="w-screen h-[600px] object-cover " :src="img" alt="" />
      <div
        class="absolute top-0 left-0 w-full h-full flex justify-center items-center"
      >
        <h1 class="text-white text-6xl uppercase font-bold">{{ Info.name }}</h1>
      </div>
    </div>
    <section class="w-full container mx-auto flex gap-6 mt-8">
      <div class="w-5/12 h-full rounded-2xl overflow-hidden relative">
        <swiper class="swiper h-[480px]" :options="swiperOption" >
          <swiper-slide v-for="item , i in Info.images" :key="i" class=" cc flex relative">
            <img
              class="w-full h-full object-center object-cover "
              :src="item.src"
              alt=""
            />
            <div
        class="swiper-pagination swiper-pagination-bullets flex "
        slot="pagination"
      ></div>
              
          </swiper-slide>
        
        </swiper>
        <div
          class="rounded-full flex cc gradient text-white px-6 absolute top-4 right-4 p-4"
        >
          <span class="text-white font-18"> {{ price }} ₽/чел </span>
        </div>
      </div>
      <div class="w-7/12 grid gap-6 grid-cols-3 h-[475px]">
        <div class="row-span-2  rounded-2xl bg-white box-1 ">
          <div class="w-full h-full flex flex-col justify-between items-center">
            <div
              class="flex justify-center items-center border-b w-full px-4 h-full hover:gradient "
            >
              <img class="w-6 h-6" src="../../assets/icons/map.png" alt="" />
              <div
                class="pl-2 flex flex-col text-sm gap-4"
                v-for="(item, index) in map"
                :key="index"
              >
                <span> Регион: {{ item }} </span>
                <span> Место: {{ Info.attributes[4].options[0] }} </span>
                <a
                  :href="coords"
                  target="_blank"
                  class="cursor-pointer underline underline-offset-4"
                  >Посмотреть на карте</a
                >
              </div>
            </div>
            <span
              class="flex justify-center items-center border-b w-full h-full pl-4"
            >
              <!-- range -->
              <client-only
                ><VueDatePicker
                  v-model="date"
                  :locale="locale"
                  :min-date="minDate"
                  :max-date="maxDate"
                  range
              /></client-only>
            </span>

            <span
              class="flex justify-center items-center border-b w-full  gradient  rounded-b-xl"
            >
              <button
                class="text-white text-xl w-full h-full py-3 "
                @click="modalVisible = true"
              >
                Заказать
              </button>
            </span>
          </div>
        </div>
        <div
          class="col-span-2 row-span-1 rounded-2xl bg-white box-1 px-4 py-6 flex gap-4"
        >
          <span class="text-sm">Выберите транспорт: </span>
          <div class="flex justify-between items-center gap-2">
            <input
              type="radio"
              class="w-6 h-6 bg-gray-50 rounded border border-gray-300 cursor-pointer"
              v-model="transport"
              value="До 8 мест"
            />
            <label class="text-sm" for="">До 8 мест</label>
          </div>
          <div class="flex justify-between items-center gap-2">
            <input
              type="radio"
              class="w-6 h-6 bg-gray-50 rounded border border-gray-300 cursor-pointer"
              v-model="transport"
              value="До 20 мест"
            />
            <label class="text-sm" for="">До 20 мест</label>
          </div>
          <div class="flex justify-between items-center gap-2">
            <input
              type="radio"
              class="w-6 h-6 bg-gray-50 rounded border border-gray-300 cursor-pointer"
              v-model="transport"
              value="Более 45 мест"
            />
            <label class="text-sm" for="">Более 45 мест</label>
          </div>
        </div>
        <div
          class="col-span-2 row-span-1 rounded-2xl bg-white box-1 flex justify-center items-center  overflow-hidden"
        >
          <img
            v-if="transport == 'До 8 мест'"
            class="object-cover w-full "
            :src="transportACF.acf['8_mest']"
            alt=""
          />
          <img
            v-else-if="transport == 'До 20 мест'"
            class="object-cover w-full"
            :src="transportACF.acf['20_mest']"
            alt=""
          />
          <img
            v-else-if="transport == 'Более 45 мест'"
            class="object-cover w-full"
            :src="transportACF.acf['45_mest']"
            alt=""
          />
        </div>
      </div>
    </section>
    <section>
      <div class="container mx-auto h-full w-full my-48">
        <h3 class="font-48 w-full text-center">Описание тура</h3>
        <div class="my-8" v-html="Info.description"></div>
      </div>
    </section>
    <!-- modal---------------------------------------------------------------- -->
    <div v-if="modalVisible">
      <div class="modal-backdrop px-4 sm:px-20 w-full h-full">
        <div class="modal rounded-2xl w-full max-w-[400px]">
          <section class="modal-body text-[#212121] rounded-2xl">
            <div class="flex flex-col gap-4 pb-4">
              <span>
                Ваша поездка:
                <span class="font-bold uppercase">{{ nameTour }}</span>
                <span> {{ transport }}</span>
              </span>
            </div>

            <div
              class="text-[#212121] text-[14px] bg-scroll overflow-y-auto h-[400px]"
            >
              <form class="flex flex-col gap-4">
                <input
                  type="text"
                  placeholder="Имя"
                  v-model="nameСlient"
                  class="p-4 border"
                />
                <input
                  type="text"
                  placeholder="Телефон"
                  v-model="telNumber"
                  class="p-4 border"
                />
              </form>
            </div>
            <div class=" flex flex-col">
              <div class="flex justify-center pb-2 pt-4 border-red-400"></div>
            </div>
            <span v-if="formSend">
              Спасибо ! Мы свяжемся с Вами в течении 10 минут.
            </span>
            <span></span>
          </section>

          <footer class="modal-footer text-[#212121] flex justify-center gap-2">
            <button
              type="button"
              class="gradient w-1/2 max-w-[280px] px-4 py-2 text-white rounded"
              @click="deleteAttrs"
            >
              Заказать
            </button>
            <button
              type="button"
              class="bg-neutral-400 w-1/2 max-w-[280px] px-4 py-2 text-white rounded"
              @click="modalVisible = false"
            >
              Закрыть
            </button>
          </footer>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { VueDatePicker } from '@mathieustan/vue-datepicker'
import '@mathieustan/vue-datepicker/dist/vue-datepicker.min.css'
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import { directive } from 'vue-awesome-swiper'


import PodborSelectV4 from '../../components/UX/Select/PodborSelect-v4.vue'
export default {
  layout: 'Main',
  directives: {
    swiper: directive
  },
  data () {
    return {
      swiperOption: {
        slidesPerView: 'auto',
        loop: true,
        centeredSlides: true,
        loopAdditionalSlides: 3,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          dynamicBullets: true,
        }
      },
      Info: [],
      date: new Date(),
      locale: { lang: 'ru' },
      transport: 'До 8 мест',
      price: '',
      nameTour: '',
      img: '',
      imgACF: '',
      map: '',
      data_info: '',
      max_people: '',
      errors: null,
      placeItems: [],
      errors: '',
      acf: null,
      busyActive: '',
      busy: '',
      modalVisible: false,
      nameСlient: '',
      telNumber: '',
      formSend: false,
      formError: 'Что то пошло не так пробуйте еще раз'
    }
  },
  async asyncData ({ $axios }) {
    const transportACF = await $axios.$get(
      'https://sharikoff-stav.store/wp-json/wp/v2/posts/981?_fields=acf'
    )
    return { transportACF }
  },
  created () {
    axios
      .get(
        `https://sharikoff-stav.store/wp-json/wc/v3/products/${this.$route.params.product}`,
        {
          auth: {
            username: 'ck_a1e76b0c4740131ec2a95e3710e1d143bc39758d',
            password: 'cs_37bfd52d190b6389298d594b76c101c48a4f252e'
          }
        }
      )
      .then(
        response => (
          (this.Info = response.data),
          (this.img = response.data.images[0].src),
          (this.map = response.data.attributes[3].options),
          (this.data_info = response.data.acf.data_p),
          (this.max_people = response.data.acf.max_p),
          (this.acf = response.data.acf),
          (this.nameTour = response.data.name),
          (this.price = response.data.price)
        )
      )
      .catch(e => {
        this.errors.push(e)
        return errors
      })
  },
  methods: {
    closeModal () {
      this.modalVisible = false
      console.log('tut')
    },
    getTeelegramm () {
      const fullMessege =
        'Тур:  ' +
        this.nameTour +
        '\n' +
        'Транспорт: ' +
        this.transport +
        '\n' +
        'Дата: ' +
        this.date_today +
        '\n' +
        ' Имя: ' +
        this.nameСlient +
        '\n' +
        ' Телефон: ' +
        this.telNumber
      axios
        .post(
          'https://api.telegram.org/bot5216566247:AAHuw0mq5cmGD4ILhNueLX77Q3JCCZKYLC0/sendMessage?chat_id=-1001763858540',
          {
            text: fullMessege
          }
        )
        .then(response => (this.fullMessege = response.data.id))
        .catch(e => {
          this.errors.push(e)
        })
    },
    deleteAttrs () {
      let numbersArr = this.placeItems
      // this.modalVisible = true
      numbersArr.forEach((value, index) => {
        axios
          .put(
            `https://sharikoff-stav.store/wp-json/acf/v3/product/${this.$route.params.product}?` +
              'fields[' +
              value +
              ']=false',
            {
              auth: {
                username: 'ck_a1e76b0c4740131ec2a95e3710e1d143bc39758d',
                password: 'cs_37bfd52d190b6389298d594b76c101c48a4f252e'
              }
            }
          )
          .then(response => {
            console.log(response)
          })
          .catch(e => {
            this.errors.push(e)
          })
        console.log(value)
      })
      this.getTeelegramm(), (this.formSend = true)
    }
  },
  components: { PodborSelectV4, VueDatePicker, Swiper, SwiperSlide },
  computed: {
    coords () {
      let coord = this.Info.attributes[5].options[0].split(', ')
      let linkYAndex = `https://yandex.ru/maps/?ll=${coord[1]},${coord[0]}&pt=${coord[1]},${coord[0]}&z=19.03`
      return linkYAndex
    }
  }
}
</script>

<style scoped>
.vdp-datepicker__calendar {
  display: block;
  position: absolute;
}
.desc ul {
  list-style: inside !important;
}

.modal-backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
}

.modal {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  border-radius: 8px;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-header {
  position: relative;
  border-bottom: 1px solid #eeeeee;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
}

.modal-body {
  position: relative;
  padding: 20px 20px 0 20px;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
}
</style>
