<template>
  <button  class="p-4 w-[60px] h-[60px] rounded-full gradient flex cc absolute bottom-0 right-[15px] hover:shadow-button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-7 w-7"
      fill="none"
      viewBox="0 0 24 24"
      stroke="white"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 4v16m8-8H4"
      />
    </svg>
  </button>
</template>
