<template>
  <div class="flex flex-col gap-8 bg-[#FBFBFB]">
    <div class="h-full relative">
      <div class="w-screen h-[400px] relative">
        <img
          class="absolute top-0 left-0 w-full h-full"
          src="../../assets/img/noise.png"
          alt=""
        />
        <img
          class="w-screen h-[400px] object-cover "
          src="../../assets/img/category.jpg"
          alt=""
        />
        <div
          class="absolute top-0 left-0 w-full h-full flex justify-center items-center"
        >
          <h1 class="text-white text-6xl uppercase font-bold">
            БЛИЖАЙШИЕ ЭКСКУРСИИ
          </h1>
        </div>
      </div>
    </div>
    <section class="w-full px-20 mx-auto">
      <div class="grid grid-cols-4 gap-4 grid-rows-1 w-full ">
        <div class="col-span-1 flex flex-col gap-8 ">
          <!-- ближжайшие экскурсии -->
          <div class="p-4 bg-white rounded-2xl box-1 flex flex-col gap-2">
            <h3 class="font-18 my-2">Ближайшие туры</h3>
            <div class="flex flex-col gap-4">
              <div class="flex gap-2 justify-start items-center">
                <img src="../../assets/img/blizh-demo.png" alt="" />
                <div class="flex flex-col">
                  <span class="font-18">Шато Эркен, голубые озера</span>
                  <p class="text-gray-400">5 декабря</p>
                </div>
              </div>
              <div class="flex gap-2 justify-start items-center">
                <img src="../../assets/img/blizh-demo.png" alt="" />
                <div class="flex flex-col">
                  <span class="font-18">Шато Эркен, голубые озера</span>
                  <p class="text-gray-400">5 декабря</p>
                </div>
              </div>
              <div class="flex gap-2 justify-start items-center">
                <img src="../../assets/img/blizh-demo.png" alt="" />
                <div class="flex flex-col">
                  <span class="font-18">Шато Эркен, голубые озера</span>
                  <p class="text-gray-400">5 декабря</p>
                </div>
              </div>
            </div>
          </div>
          <!-- фото с поездок -->
          <div class="p-4 bg-white rounded-2xl box-1 flex flex-col gap-2">
            <h3 class="font-18 my-2">Фото с поездок</h3>
            <div class="grid grid-cols-3 gap-2 justify-items-center">
              <div
                class="flex justify-center items-center"
                v-for="(img, index) in 9"
                :key="index"
              >
                <img
                  class="w-[70px] h-[70px] object-cover rounded-xl "
                  src="../../assets/img/category.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <!-- популярные туры -->
          <div class="p-4 bg-white rounded-2xl box-1  flex flex-col gap-2">
            <h3 class="font-18 my-2">Популярные туры</h3>
            <div class="flex flex-col gap-4">
              <div
                class="rounded-lg overflow-hidden"
                v-for="(item, index) in 3"
                :key="index"
              >
                <div class="relative w-full h-full">
                  <img
                    class="w-full h-[180px] object-cover"
                    src="../../assets/img/popular-demo.jpg"
                    alt=""
                  />
                  <span class="absolute text-white bottom-4 left-4 p-4 z-[99] font-18 font-bold">Шато эркен</span>
                  <div
                    class="rounded-full flex cc gradient text-white px-6 absolute bottom-4 right-4 p-4 z-[99]"
                  >
                    
                    <span class="text-white font-18"> 1500 ₽ </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-3 grid grid-cols-3 grid-rows-3 gap-4 justify-items-start">
          <ProductV1
              v-for="product in products"
              :key="product.id"
              :data="product"
              class="block"
            />
          
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import ProductV1 from "../../components/Product/Product-v1.vue"
import {mapActions, mapGetters} from 'vuex'

export default {
  layout: 'Main',
  components: { ProductV1 },
  data () {
    return {
      imagesPhoto: {
        link: '../../assets/img/category.jpg'
      }
    }
  },
  async asyncData ({ $axios }) {
    const products = await $axios.$get(
      'https://sharikoff-stav.store/wp-json/wc/v3/products',
      {
        auth: {
          username: 'ck_a1e76b0c4740131ec2a95e3710e1d143bc39758d',
          password: 'cs_37bfd52d190b6389298d594b76c101c48a4f252e'
        },
        params: {

          per_page: 100
        }
      }
    )
    
    return { products}
  }
}
</script>
