<template>
  <div class="top-0 sticky z-[99999999] backdrop-blur-md bg-black/30 shadow-3xl">
    <header class="w-full -mt-[100px]">
      <div
        class="flex container w-full justify-between text-white  w-full h-[100px] mx-auto items-center "
      >
        <div class="w-5/12">
        <NuxtLink to="/">
          <img src="../../assets/img/logo-v1.png" alt="" />
        </NuxtLink>
          
        </div>
        <div class="flex h-full items-center justify-between w-7/12">
          <div>
              <ul class="flex gap-6 font-18">
                  <li class="hidden">Билеты</li>
                  <li>Услуги</li> 
                  <!-- внутри трансфер, туры однодневки -->
                  <nuxt-link to="/contacts">Контакты</nuxt-link>
                  <li>Интересное</li>
                  <nuxt-link to="/sotr">Сотрудничество</nuxt-link>
                  <li>О нас</li>
              </ul>
          </div>
          <div>
              <img src="../../assets/img/menu.png" alt="">
          </div>
        </div>
      </div>
    </header>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
