<template>
  <div class="mt-96  relative">
    <div class="container mx-auto flex flex-col gap-4">
      <form
        @submit.prevent=""
        action=""
        class="w-full max-w-[400px] flex flex-col gap-4"
      >
        <div class="flex flex-col gap-2 justify-start">
          <label for="">Имя*</label>
          <input v-model="form.name" type="text" class="form-input" :class="form.name.length >= 2 ? 'border-green-500' : ''"/>
        </div>
        <div class="flex flex-col gap-2 justify-start">
          <label for="">Телефон*</label>
          <input
            v-model="form.phone"
            v-mask="'+7 (###) ###-##-##'"
            placeholder="+7 (###) ###-##-##"
            type="text"
            class="form-input"
            :class="form.phone.length == 18 ? 'border-green-500' : ''"
          />
        </div>
        <div class="flex flex-col gap-2 justify-start">
          <label for="">Email*</label>
          <input
            v-model="form.email"
            :class="
              form.email.includes('@') && form.email.length >= 3 
                ? 'border-green-500'
                : ''
            "
            type="text"
            class="form-input"
          />
        </div>
        <div class="flex flex-col gap-2 justify-start">
          <label for="">Как с Вами связаться</label>
          <div>
            <input
              type="radio"
              id="one"
              value="Telegram"
              v-model="form.picked"
            />
            <label for="">Telegram</label>
          </div>
          <div>
            <input
              type="radio"
              id="two"
              value="WhatsApp"
              v-model="form.picked"
            />
            <label for="">WhatsApp</label>
          </div>
          <div>
            <input
              type="radio"
              id="two"
              value="Телефон"
              v-model="form.picked"
            />
            <label for="">Телефон</label>
          </div>
        </div>

        <div class="flex flex-col gap-2 justify-start">
          <label for="">Сообщение*</label>
          <textarea v-model="form.mail" class="form-input" rows="5" cols="33" :class="form.mail.length >= 5 ? 'border-green-500' : ''">
            Напишите...
            </textarea
          >
        </div>
      </form>
      <div>
          <input type="checkbox">
          Заполняя форму я подтверждаю согласие на обработку данных
      </div>
      <button :class="" @click="getTeelegramm" class="border-2 px-4 py-2 rounded-md">Отправить</button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
const reg = /[а-яА-ЯёЁ]/g;
export default {
  layout: 'Transfer',
  data () {
    return {
      reg: /[а-яА-ЯёЁ]/g,
      form: {
        name: '',
        phone: '',
        email: '',
        svyaz: '',
        mail: '',
        picked: 'Telegram'
      }
    }
  },
  methods: {
    getTeelegramm () {
      const fullMessege =
        'Имя:  ' +
        this.form.name +
        '\n' +
        'Телефон: ' +
        this.form.phone +
        '\n' +
        'email: ' +
        this.form.email +
        '\n' +
        ' Связь: ' +
        this.form.picked +
        '\n' +
        ' Сообщение: ' +
        this.form.mail
      axios
        .post(
          'https://api.telegram.org/bot5216566247:AAHuw0mq5cmGD4ILhNueLX77Q3JCCZKYLC0/sendMessage?chat_id=-1001763858540',
          {
            text: fullMessege
          }
        )
        .then(response => (this.fullMessege = response.data.id))
        .catch(e => {
          this.errors.push(e)
        })
    }
  }
}
</script>

<style></style>
