<template>
  <div class="bg-[#FBFBFB] text-[#333333] h-full">
    <section>
      <MainSlider />
    </section>
    <section class="my-12 z-[99] container mx-auto flex flex-col gap-12">
      <div class="flex justify-center gap-8 ">
        <div v-for="item in tabs" :key="item.id">
          <span
            class="cursor-pointer text-4xl font-bold uppercase"
            :class="[
              activeTab == item.id ? 'underline underline-offset-4' : ''
            ]"
            @click="activeTab = item.id"
            >{{ item.name }}</span
          >
        </div>
        <nuxt-link
          to="/transfer"
          class="cursor-pointer text-4xl font-bold uppercase"
          >Прямые рейсы</nuxt-link
        >
      </div>
      <div class=" w-full h-full px-4 py-8 bg-white box-1 rounded-xl">
        <div class="flex  gap-2 justify-between" v-if="activeTab == 1">
          <div class="flex flex-col gap-12 justify-center items-start">
            <span class="text-4xl uppercase font-bold">Заказать трансфер</span>
            <div>
              <div class="flex gap-4 justify-start">
                <div>
                  <input
                    type="radio"
                    id="one"
                    value="Легковой"
                    v-model="form.auto"
                  />
                  <label for="">Легковой</label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="two"
                    value="Минивэн"
                    v-model="form.auto"
                  />
                  <label for="">Минивэн</label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="two"
                    value="Микроавтобус"
                    v-model="form.auto"
                  />
                  <label for="">Микроавтобус</label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="two"
                    value="Автобус"
                    v-model="form.auto"
                  />
                  <label for="">Автобус</label>
                </div>
              </div>
            </div>
          </div>

          <div class="w-full max-w-[400px]">
            <form
              @submit.prevent=""
              action=""
              class="w-full max-w-[400px] flex flex-col gap-4"
            >
              <div class="flex flex-col gap-2 justify-start">
                <label for="">ФИО*</label>
                <input
                  v-model="form.name"
                  type="text"
                  class="form-input"
                  :class="form.name.length >= 2 ? 'border-green-500' : ''"
                />
              </div>
              <div class="flex flex-col gap-2 justify-start">
                <label for="">Телефон*</label>
                <input
                  v-model="form.phone"
                  v-mask="'+7 (###) ###-##-##'"
                  placeholder="+7 (###) ###-##-##"
                  type="text"
                  class="form-input"
                  :class="form.phone.length == 18 ? 'border-green-500' : ''"
                />
              </div>

              <div class="flex flex-col gap-2 justify-start">
                <label for="">Как с Вами связаться</label>
                <div>
                  <input
                    type="radio"
                    id="one"
                    value="Telegram"
                    v-model="form.picked"
                  />
                  <label for="">Telegram</label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="two"
                    value="WhatsApp"
                    v-model="form.picked"
                  />
                  <label for="">WhatsApp</label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="two"
                    value="Телефон"
                    v-model="form.picked"
                  />
                  <label for="">Телефон</label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="flex  gap-2 justify-center" v-else-if="activeTab == 2">
          <div class="w-full grid grid-cols-1 sm:grid-cols-3 gap-4">
            <product-v-1
              v-for="(item, i) in products"
              :key="item.id"
              :data="item"
            />
          </div>
        </div>
        <div class="flex  gap-2 justify-center" v-else-if="activeTab == 3">
          <div class="w-full grid grid-cols-1 sm:grid-cols-3 gap-4">
            <product-v-1
              v-for="(item, i) in productsMore"
              :key="item.id"
              :data="item"
            />
          </div>
        </div>
        <div class="flex  gap-2 justify-center" v-else-if="activeTab == 5">
          <div class="w-full grid grid-cols-1 sm:grid-cols-3 gap-4">
            <product-v-1
              v-for="(item, i) in productsTours"
              :key="item.id"
              :data="item"
            />
          </div>
        </div>
      </div>
    </section>
    <section>
      <TourNear :products="products" />
    </section>
    <section class="w-full h-[700px] ">
      <div class="w-full container flex flex-col justify-between mx-auto">
        <h3
          class="w-full flex justify-center font-bold font-48 uppercase my-12"
        >
          ближайший тур
        </h3>
        <div class="w-full flex">
          <div class="w-5/12 flex flex-col gap-4  h-full pr-8">
            <div>Поездка в чечню</div>
            <div>
              Мы часто посещаем Чечню , поэтому решили рассказать поподробнее о
              народе , к которому вы так любите ездить в гости ️ <br /><br />
              1. Забота о стариках К пожилым людям в Чечне относятся с большим
              вниманием и уважением: лучшие продукты взрослые дети относят
              родителям, по утрам женщины прежде всего наводят порядок на их
              половине, а по вечерам, возвращаясь домой, сыновья сразу идут к
              матери и отцу, чтобы поделиться своими радостями и заботами
              <br /><br />
              1. Забота о стариках К пожилым людям в Чечне относятся с большим
              вниманием и уважением
              <br /><br />
              1. Забота о стариках К пожилым людям в Чечне относятся с большим
              вниманием и уважением
              <br /><br />
              1. Забота о стариках К пожилым людям в Чечне относятся с большим
              вниманием и уважением
            </div>
            <ShowAllButton class="max-w-[260px]">Купить билеты</ShowAllButton>
          </div>
          <div class="w-7/12">
            <SliderV2 />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import MainSlider from '../components/MainSlider.vue'
import TourNear from '../components/TourNear.vue'
import SliderV2 from '../components/Slider/templates/Slider-v2.vue'
import ShowAllButton from '../components/UI/ShowAllButton.vue'
import PodborTourV1 from '../components/UX/PodborTour-v1.vue'
import ProductV1 from '../components/Product/Product-v1.vue'
export default {
  layout: 'Main',
  data () {
    return {
      tabs: [
        { name: 'Трансфер', id: 1 },
        { name: 'экскурсии', id: 2 },
        { name: 'поездки на море', id: 3 },
        { name: 'туры', id: 5 }
      ],
      activeTab: 1,
      form: {
        name: '',
        phone: '',
        svyaz: '',
        picked: 'Telegram',
        auto: 'Легковой'
      }
    }
  },
  components: {
    MainSlider,
    TourNear,
    SliderV2,
    ShowAllButton,
    PodborTourV1,
    ProductV1
  },
  async asyncData ({ $axios }) {
    const products = await $axios.$get(
      'https://sharikoff-stav.store/wp-json/wc/v3/products',
      {
        auth: {
          username: 'ck_a1e76b0c4740131ec2a95e3710e1d143bc39758d',
          password: 'cs_37bfd52d190b6389298d594b76c101c48a4f252e'
        },
        params: {
          category: 317,
          per_page: 9
        }
      }
    )
    const productsMore = await $axios.$get(
      'https://sharikoff-stav.store/wp-json/wc/v3/products',
      {
        auth: {
          username: 'ck_a1e76b0c4740131ec2a95e3710e1d143bc39758d',
          password: 'cs_37bfd52d190b6389298d594b76c101c48a4f252e'
        },
        params: {
          category: 325,
          per_page: 9
        }
      }
    )
    const productsTours = await $axios.$get(
      'https://sharikoff-stav.store/wp-json/wc/v3/products',
      {
        auth: {
          username: 'ck_a1e76b0c4740131ec2a95e3710e1d143bc39758d',
          password: 'cs_37bfd52d190b6389298d594b76c101c48a4f252e'
        },
        params: {
          category: 226,
          per_page: 9
        }
      }
    )
    return { products, productsMore, productsTours }
  }
}
</script>
<style></style>
