<template>
  <div class="mt-96 pb-48  relative">
    <div class="container mx-auto flex flex-col gap-20">
      <modal v-if="modalView == true" @close="close">
        <!-- 1 вариант  -->
        <form
        v-if="modal == 1"
          @submit.prevent=""
          action=""
          class="w-full grid grid-cols-2  gap-4"
        >
          <div class="flex flex-col gap-2 justify-start">
            <label for="">Имя*</label>
            <input
              v-model="form.name"
              type="text"
              class="form-input"
              :class="form.name.length >= 2 ? 'border-green-500' : ''"
            />
          </div>
          <div class="flex flex-col gap-2 justify-start">
            <label for="">Телефон*</label>
            <input
              v-model="form.phone"
              v-mask="'+7 (###) ###-##-##'"
              placeholder="+7 (###) ###-##-##"
              type="text"
              class="form-input"
              :class="form.phone.length == 18 ? 'border-green-500' : ''"
            />
          </div>
          <div class="flex flex-col gap-2 justify-start">
            <label for="">Email*</label>
            <input
              v-model="form.email"
              :class="
                form.email.includes('@') && form.email.length >= 3
                  ? 'border-green-500'
                  : ''
              "
              type="text"
              class="form-input"
            />
          </div>
          <div class="flex flex-col gap-2 justify-start">
            <label for="">Название организации*</label>
            <input
              v-model="form.org"
              :class="
                form.org.length >= 3
                  ? 'border-green-500'
                  : ''
              "
              type="text"
              class="form-input"
            />
          </div>
          <div class="flex flex-col gap-2 justify-start">
            <label for="">Как с Вами связаться</label>
            <div>
              <input
                type="radio"
                id="one"
                value="Telegram"
                v-model="form.picked"
              />
              <label for="">Telegram</label>
            </div>
            <div>
              <input
                type="radio"
                id="two"
                value="WhatsApp"
                v-model="form.picked"
              />
              <label for="">WhatsApp</label>
            </div>
            <div>
              <input
                type="radio"
                id="two"
                value="Телефон"
                v-model="form.picked"
              />
              <label for="">Телефон</label>
            </div>
          </div>

          <div class="flex flex-col gap-2 justify-start">
            <label for="">Сообщение*</label>
            <textarea
              v-model="form.mail"
              class="form-input"
              rows="5"
              cols="33"
              :class="form.mail.length >= 5 ? 'border-green-500' : ''"
            >
            Напишите...
            </textarea>
            <button class="border px-6 py-3">Отправить</button>
          </div>
        </form>
        <!-- 2 вариант -->
        <form
        v-if="modal == 2"
          @submit.prevent=""
          action=""
          class="w-full  flex flex-col gap-4"
        >
          <div class="flex flex-col gap-2 justify-start">
            <label for="">ФИО*</label>
            <input
              v-model="form.name"
              type="text"
              class="form-input"
              :class="form.name.length >= 2 ? 'border-green-500' : ''"
            />
          </div>
          <div class="flex flex-col gap-2 justify-start">
            <label for="">Телефон*</label>
            <input
              v-model="form.phone"
              v-mask="'+7 (###) ###-##-##'"
              placeholder="+7 (###) ###-##-##"
              type="text"
              class="form-input"
              :class="form.phone.length == 18 ? 'border-green-500' : ''"
            />
          </div>
          <div class="flex flex-col gap-2 justify-start">
            <label for="">Email*</label>
            <input
              v-model="form.email"
              :class="
                form.email.includes('@') && form.email.length >= 3
                  ? 'border-green-500'
                  : ''
              "
              type="text"
              class="form-input"
            />
          </div>
          <div class="flex flex-col gap-2 justify-start">
            <label for="">Марка и модель авто*</label>
            <input
              v-model="form.marka"
              :class="
                form.marka.length >= 3
                  ? 'border-green-500'
                  : ''
              "
              type="text"
              class="form-input"
            />
          </div>
          <div class="flex flex-col gap-2 justify-start">
            <label for="">Стаж*</label>
            <input
              v-model="form.stag"
              :class="
                form.stag.length >= 3
                  ? 'border-green-500'
                  : ''
              "
              type="text"
              class="form-input"
            />
          </div>
          <div class="flex flex-col gap-2 justify-start">
            <label for="">Как с Вами связаться</label>
            <div>
              <input
                type="radio"
                id="one"
                value="Telegram"
                v-model="form.picked"
              />
              <label for="">Telegram</label>
            </div>
            <div>
              <input
                type="radio"
                id="two"
                value="WhatsApp"
                v-model="form.picked"
              />
              <label for="">WhatsApp</label>
            </div>
            <div>
              <input
                type="radio"
                id="two"
                value="Телефон"
                v-model="form.picked"
              />
              <label for="">Телефон</label>
            </div>
          </div>

          <div class="flex flex-col gap-2 justify-start">
            <label for="">Сообщение*</label>
            <textarea
              v-model="form.mail"
              class="form-input"
              rows="5"
              cols="33"
              :class="form.mail.length >= 5 ? 'border-green-500' : ''"
            >
            Напишите...
            </textarea>
          </div>
          <button>Отправить</button>
        </form>
      </modal>
      <div>
        Сотрудничество с нами <br />
        Гарантия надёжности и безопасности
      </div>
      <div>
        Мы открыты для сотрудничества со школьными и дошкольными учреждениями,
        физическими и юридическими лицами, гостиницами, а так же водителями.
        Успешный опыт работы со многими компаниями и частными заказчиками,
        позволяет нам максимально учесть Ваши индивидуальные потребности и
        предложить наиболее выгодный и удобный для вас вариант сотрудничества.
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-4 gap-4 ">
        <div class="border-2 p-4 rounded-md flex flex-col gap-4">
          <span> Партнерам</span>
          <img src="../assets/img/sotrudnichestvo.jpg" alt="" />
          <span
            >Если Вам необходима надёжная компания по организации туристических
            и экскурсионных поездок, а так же трансфер пассажиров!<br />
            Позвоните или напишите нам и мы договоримся о форме сотрудничества,
            по выгодным для Вас условиям.</span
          >
          <button @click="openModalForm(1)">Оформить заявку</button>
        </div>
        <div class="border-2 p-4 rounded-md flex flex-col gap-4">
          <span> Для Владельцев авто и Водителей</span>
          <img src="../assets/img/sotrudnichestvo.jpg" alt="" />
          <span
            >Если Вам необходима надёжная компания по организации туристических
            и экскурсионных поездок, а так же трансфер пассажиров!<br />
            Позвоните или напишите нам и мы договоримся о форме сотрудничества,
            по выгодным для Вас условиям.</span
          >
          <button @click="openModalForm(2)">Оформить заявку</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import modal from '../components/modal.vue'
export default {
  components: { modal },
  layout: 'Transfer',
  data () {
    return {
      modalView: false,
      modal: null,
      form: {
        name: '',
        phone: '',
        email: '',
        svyaz: '',
        mail: '',
        org: '',
        picked: 'Telegram',
        marka: '',
        stag: ''
      }
    }
  },
  methods: {
    openModalForm(id){
        this.modalView = true
        this.modal = id
    },
    close(){
        this.modalView = false
    }
  },
}
</script>

<style></style>
